*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('calculator-bg.jpg');
    background-size: cover;
    background-position: center;

}
h1{
    text-align: center;
    margin-top: 30px;
    text-shadow: 5px 5px 1px black;
    font-weight: bold;
    font-family: sans-serif;
}
.main-div{
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    background: silver;
    height: 50%;
    width: 30%;
    margin: auto;
    margin-top: 100px;
}
input{
    border: transparent;
    border: 2px solid grey;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px;
    height: 50px;
    width: 85%;
    padding: 10px;
    font-size: 25px;
}
.btn-clear{
    width: 45%;
    padding: 5px;
    background: transparent;
    background: black;
    color: white;
    border: none;
    margin-bottom: 20px;
}
.btn{
    padding: 5px;
    background: transparent;
    background: black;
    color: white;
    border: none;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 50px; 
    width: 20%;
    box-shadow: 5px 5px 5px 2px black;
}
.btn:hover{
    cursor: pointer;
    outline: none;
    background: silver;
    color: black;
}
input:focus{
  outline: none;
  border: 1px solid black;
}